body {
  background-color: rgb(255, 255, 255);
  size: 1000cm;
}

h1,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: lime;
}

.bottom {
  position: absolute;
  top: 10000px;
}

.header {
  top: 0%;
  text-align: left;
  font-size: 50px;
  position: fixed;
}

.android {
  width: 145%;
  height: auto;
  position: sticky;
  left: 0px;
  top: 200px;
  max-width: 400px;
  z-index: 11;
}

div {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
}

.text_01 {
  padding-left: 15px;
  left: 0px;
  position: relative;
  text-align: left;
}


body {
  padding: 20px;
}

.beschreibung {
  background-color: grey;
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0px;
  top: 100px;
}

.box {
  background-color: grey;
  position: absolute;
  width: 100%;
  height: fit-content;
  right: 0%;
  top: 65%;
  text-align: center;
}

.heading {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.box_text {
  text-align: center;
  bottom: 2%;
}

.ruby {
  width: 100px;
  height: auto;
  margin: auto;
}

.michelin {
  width: 150px;
  height: auto;
  margin: auto;
}

.oscar {
  height: 150px;
  width: auto;
  margin: auto;
}


