
body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
  margin: 0;              
  
  
}

.bg{
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  position: fixed;
  margin: auto;
  padding: 0;
  top: 0;
  padding-bottom: 0;
}


.android {
  width: 300px;  
  height: auto;  
  padding: 0;   
  z-index: 900;  
  position: relative; 
  
}
