.img{
    position: fixed;
  top: 1600px;
  left: 200px;
  max-width: 3000px;
  width: auto;
  height: auto;
  z-index: 900;
  padding: 100px;
  transition: top 0.15s linear, left 0.15s linear, transform 0.15s linear;
  will-change: top, left, transform;
};